apiVersion: infrastructure.dcnlab.ssu.ac.kr/v1beta1
kind: MachineDeployment
metadata:
  labels:
    app.kubernetes.io/name: kt-cloud-operator
    app.kubernetes.io/managed-by: kustomize
  name: ${CLUSTER_NAME}-control-plane
spec:
  type: control-plane
  replicas: 1
  selector:
    matchLabels: null
  template:
    spec:
      bootstrap:
        configRef:
          apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
          kind: KubeadmConfigTemplate
          name: openstack-nephio-md-0
      clusterName: ${CLUSTER_NAME}
      failureDomain: DX-G
      infrastructureRef:
        apiVersion: infrastructure.dcnlab.ssu.ac.kr/v1beta1
        kind: KTCluster
        name: ${CLUSTER_NAME}
      version: v1.30.0
---
apiVersion: infrastructure.dcnlab.ssu.ac.kr/v1beta1
kind: MachineDeployment
metadata:
  labels:
    app.kubernetes.io/name: kt-cloud-operator
    app.kubernetes.io/managed-by: kustomize
  name: ${CLUSTER_NAME}-md-0
spec:
  type: worker
  replicas: 1
  selector:
    matchLabels: null
  template:
    spec:
      bootstrap:
        configRef:
          apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
          kind: KubeadmConfigTemplate
          name: openstack-nephio-md-0
      clusterName: ${CLUSTER_NAME}
      failureDomain: DX-G
      infrastructureRef:
        apiVersion: infrastructure.dcnlab.ssu.ac.kr/v1beta1
        kind: KTCluster
        name: ${CLUSTER_NAME}
      version: v1.30.0