apiVersion: v1
kind: Namespace
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: kt-cloud-operator
    control-plane: controller-manager
  name: kt-cloud-operator-system
---