---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.4
  name: ktmachines.infrastructure.dcnlab.ssu.ac.kr
spec:
  group: infrastructure.dcnlab.ssu.ac.kr
  names:
    kind: KTMachine
    listKind: KTMachineList
    plural: ktmachines
    singular: ktmachine
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: KTMachine is the Schema for the ktmachines API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: KTMachineSpec defines the desired state of KTMachine.
            properties:
              availabilityZone:
                type: string
              blockDeviceMapping:
                items:
                  properties:
                    bootIndex:
                      type: integer
                    destinationType:
                      type: string
                    id:
                      type: string
                    sourceType:
                      type: string
                    volumeSize:
                      type: integer
                  type: object
                type: array
              flavor:
                description: Foo is an example field of KTMachine. Edit ktmachine_types.go
                  to remove/update
                type: string
              networkTier:
                items:
                  properties:
                    id:
                      type: string
                  type: object
                type: array
              networks:
                items:
                  properties:
                    id:
                      type: string
                  type: object
                type: array
              ports:
                items:
                  description: Port defines a network configuration or IP details
                  properties:
                    fixedIPs:
                      items:
                        description: FixedIP represents fixed IP information with
                          subnet details
                        properties:
                          subnet:
                            description: Subnet holds the subnet ID information
                            properties:
                              id:
                                type: string
                            type: object
                        type: object
                      type: array
                    network:
                      description: Network holds the network details such as name,
                        tags, or ID
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        tags:
                          type: string
                      type: object
                  type: object
                type: array
              sshKeyName:
                type: string
              userData:
                type: string
            type: object
          status:
            description: KTMachineStatus defines the observed state of KTMachine.
            properties:
              AssignedPublicIPs:
                items:
                  properties:
                    id:
                      type: string
                    ip:
                      type: string
                    pairedPvtNetwork:
                      properties:
                        networkID:
                          type: string
                        networkName:
                          type: string
                        networkOsID:
                          type: string
                        vmPvtIp:
                          type: string
                      type: object
                  type: object
                type: array
              OS-DCF:diskConfig:
                type: string
              OS-EXT-AZ:availability_zone:
                type: string
              OS-EXT-STS:power_state:
                type: integer
              OS-EXT-STS:task_state:
                type: string
              OS-EXT-STS:vm_state:
                type: string
              OS-SRV-USG:launched_at:
                type: string
              OS-SRV-USG:terminated_at:
                type: string
              accessIPv4:
                type: string
              accessIPv6:
                type: string
              addresses:
                additionalProperties:
                  items:
                    properties:
                      OS-EXT-IPS-MAC:mac_addr:
                        type: string
                      OS-EXT-IPS:type:
                        type: string
                      addr:
                        type: string
                      version:
                        type: integer
                    type: object
                  type: array
                description: Metadata          map[string]interface{} `json:"metadata,omitempty"`
                type: object
              adminPass:
                type: string
              config_drive:
                type: string
              created:
                type: string
              description:
                type: string
              flavor:
                properties:
                  disk:
                    type: integer
                  ephemeral:
                    type: integer
                  extra_specs:
                    additionalProperties:
                      type: string
                    type: object
                  original_name:
                    type: string
                  ram:
                    type: integer
                  swap:
                    type: integer
                  vcpus:
                    type: integer
                type: object
              hostId:
                type: string
              id:
                description: |-
                  INSERT ADDITIONAL STATUS FIELD - define observed state of cluster
                  Important: Run "make" to regenerate code after modifying this file
                type: string
              image:
                type: string
              key_name:
                type: string
              links:
                items:
                  description: Supporting structs
                  properties:
                    href:
                      type: string
                    rel:
                      type: string
                  type: object
                type: array
              locked:
                type: boolean
              name:
                type: string
              os-extended-volumes:volumes_attached:
                items:
                  properties:
                    delete_on_termination:
                      type: boolean
                    id:
                      type: string
                  type: object
                type: array
              progress:
                type: integer
              securityGroups:
                items:
                  properties:
                    name:
                      type: string
                  type: object
                type: array
              status:
                type: string
              tags:
                items:
                  type: string
                type: array
              tenant_id:
                description: New fields
                type: string
              trusted_image_certificates:
                type: string
              updated:
                type: string
              user_id:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
