---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.4
  name: ktclusters.infrastructure.dcnlab.ssu.ac.kr
spec:
  group: infrastructure.dcnlab.ssu.ac.kr
  names:
    kind: KTCluster
    listKind: KTClusterList
    plural: ktclusters
    singular: ktcluster
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: KTCluster is the Schema for the ktclusters API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: KTClusterSpec defines the desired state of KTCluster.
            properties:
              apiServerLoadBalancer:
                description: APIServerLoadBalancer represents the API server load
                  balancer settings
                properties:
                  enabled:
                    type: boolean
                required:
                - enabled
                type: object
              controlPlaneExternalNetworkEnable:
                type: boolean
              identityRef:
                description: IdentityRef holds the identity reference for OpenStack
                properties:
                  cloudName:
                    type: string
                  name:
                    type: string
                type: object
              managedSecurityGroups:
                description: ManagedSecurityGroups contains security group rules for
                  nodes
                properties:
                  allNodesSecurityGroupRules:
                    items:
                      description: SecurityGroupRule represents individual security
                        group rules
                      properties:
                        action:
                          type: string
                        appliesTo:
                          items:
                            type: string
                          type: array
                        description:
                          type: string
                        direction:
                          type: string
                        dstip:
                          type: string
                        portRangeMax:
                          type: integer
                        portRangeMin:
                          description: |-
                            EtherType           string   `json:"etherType,omitempty"`
                            Name                string   `json:"name,omitempty"`
                          type: integer
                        protocol:
                          type: string
                      type: object
                    type: array
                type: object
            type: object
          status:
            description: KTClusterStatus defines the observed state of KTCluster.
            properties:
              securityGroups:
                description: |-
                  INSERT ADDITIONAL STATUS FIELD - define observed state of cluster
                  Important: Run "make" to regenerate code after modifying this file
                type: boolean
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
